# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environment
# ------------------------------
.venv/
venv/

# ------------------------------
# Django
# ------------------------------
db.sqlite3
*.sqlite3

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# macOS / Windows
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log